<div class="container mt-3">
    
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-dark text-danger text-center">
                    <p class="h4">Add New Student</p>
     
                </div>
                               <!-- alert-modal -->
    <div *ngIf="message" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success!!!</strong> Your New Student was added Successfully
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
                <div class="card-body">
                    <form [formGroup]="addStudent" (ngSubmit)="createData()">
                        <div class="form-group mb-2">
                            <input type="text" name="name"  class="form-control" placeholder="Enter your name" formControlName="name">
                        </div>
                        <div class="form-group mb-2">
                            <input type="email" name="email"  class="form-control" placeholder="enter your email" formControlName="email">
                        </div>

                        <div class="form-group mb-2">
                            <input type="number" name="phone"  class="form-control" placeholder="enter your phone number" formControlName="phone">
                        </div>

                        <div class="form-group mb-2">
                            <input type="text" name="city"  class="form-control" placeholder="enter your city" formControlName="city">
                        </div>

                        <div>
                            <button type="submit" class="btn btn-dark mt-2">AddStudent</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>