<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="landing-page img-fluid">
                <div class="wrapper">
                    <div class="text-content">
                        <h1 class="display-2">StudentManagementApplication</h1>
                        <p class="fst-itallic">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum, inventore. Eaque, eos dolorem? Perspiciatis consequuntur, totam corrupti unde, autem in error non quam itaque fuga odit dicta recusandae vitae quidem.</p>
                    </div>
                </div>

               
            </div>
          
        </div>
    </div>
</div>