<p>list-student works!</p>
<div class="container">
    <div class="row">
        <div class="col">
            <p class="h3 text-danger">Students-List</p>
            <p class="fst-itallic">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid fuga voluptatum libero, consequatur eveniet obcaecati consectetur necessitatibus autem deleniti. Sed mollitia aspernatur, dolore accusantium reprehenderit quisquam esse, aliquam temporibus, a officiis architecto nam vel debitis iste eum ea? Sequi, voluptate!</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-center table-light table-stripped">

                <thead class="table bg-dark text-white text-center">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>City</th>
                        <th>Action</th>
                    </tr >

                </thead>
                <tbody>
                    <tr *ngFor="let student of students">
                        <td>{{student.id}}</td>
                        <td>{{student.name}}</td>
                        <td>{{student.email}}</td>
                        <td>{{student.phone}}</td>
                        <td>{{student.city}}</td>
                        <td>
                            <a class="btn btn-info btn-sm me-1" routerLink="/edit/{{student.id}}">Edit</a>
                            <button (click)="deleteStudent(student.id)" class="btn btn-danger btn-sm">Delete</button>
                            
                        </td>

                    </tr>



                </tbody>

            </table>
            <div >
              
              
            </div>
        </div>
    </div>
</div>
