<div class="container mt-3">
    <a class="btn btn-dark text-warning btn-sm mb-3" routerLink="/list">Back</a>
    <pre>{{id}}</pre>

    <div class="row">
        
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-warning text-white text-center">
                    <p class="h4">EditStudent</p>
     
                </div>
  
                <div class="card-body">
                    <form [formGroup]="editStudent" (ngSubmit)="updateData()">
                        <div class="form-group mb-2">
                            <input type="text" name="name"  class="form-control" placeholder="Enter your name" formControlName="name">
                        </div>
                        <div class="form-group mb-2">
                            <input type="email" name="email"  class="form-control" placeholder="enter your email" formControlName="email">
                        </div>

                        <div class="form-group mb-2">
                            <input type="number" name="phone"  class="form-control" placeholder="enter your phone number" formControlName="phone">
                        </div>

                        <div class="form-group mb-2">
                            <input type="text" name="city"  class="form-control" placeholder="enter your city" formControlName="city">
                        </div>

                        <div>
                            <button type="submit" class="btn btn-warning mt-2">updateStudent</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>